cffi==1.15.0
matplotlib==3.1.3
mpmath==1.2.1
new==1.0
numexpr==2.7.1
numpy==1.18.1
pandas==1.0.3
psutil==5.9.0
pybind11==2.9.1
pytest==7.0.1
scikit_learn==1.0.2
scikits.talkbox==0.2.5
spline==1.12
streams==0.1
sympy==1.5.1
tblib==1.6.0
xlwt==1.3.0
